#bod
{
    background-image:linear-gradient(rgb(129, 2, 2),rgb(61, 2, 2),rgb(32, 7, 7),#170503,rgb(0, 0, 0)); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover ; 
}