#ent:link, #ent:visited 
{
    background-color:rgba(126, 82, 245,0.5);
    color:red;
    text-align:center;
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding:5px 10px;
    text-decoration:none;
    font-family:secondfont;
    font-size:30px;
    -webkit-text-stroke: 0.25px black;
    border: 1px groove black;
    border-radius:20px;
}

#ent:hover, #ent:active 
{
    background-color:rgb(255,255,255,0.8);
    color:red;
    text-align:center;
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding:5px 10px;
    text-decoration:none;
    font-family:secondfont;
    font-size:30px;
    -webkit-text-stroke: 0.25px rgb(0, 0, 0);
    border: 1px groove rgb(0, 0, 0);
    border-radius:20px;
}