.opt:link, .opt:visited
{
    background-color:transparent;
    color:black;
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding:8.5px 35px;
    text-align:center;
    text-decoration: none;
    border-bottom:7px solid transparent;
    font-size:30px;
    -webkit-text-stroke: 0.1px white;
}

.opt:hover, .opt:active
{
    background-color:transparent;
    color:black;
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding:8.5px 35px;
    text-align:center;
    text-decoration: none;
    border-bottom:7px solid red;
    font-size:30px;
    -webkit-text-stroke: 0.05px white;
}